$body-bg: #262F34;
$red:#F34A4A;
$redHov:#F1D3BC;
$txt-color:#262F34;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height:4rem;
$header-shrink-height:5rem;
$border-radius:30px;
$mobile-width:600px;
$tablet-width:1024px;

$font-family: 'Oswald', sans-serif;
$font-family-title: 'Audiowide', cursive;
;